*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Fredoka One', sans-serif;
}

#toolbar-container {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  padding: 0 10px;
  background: #1b1b1b;
  width: 100%;
}

#toolbar-container h1 {
  color: white;
  margin-right: 20px;
}

.toolbar-button {
  width: 40px;
  height: 40px;
  background: none;
  color: white;
  border: none;
  padding: 10px;
}

.toolbar-button:hover {
  background: #156edb;
}

#color-container {
  margin-left: 20px;
}

#color-container button {
  width: 40px;
  height: 40px;
  border: 2px solid white;
}

#color-button-black {
  background-color: #000000;
}

#color-button-blue {
  background-color: blue;
}

#color-button-red {
  background-color: #cc5647;
}

#color-button-olive {
  background-color: #9ab33e;
}
