*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
}

#toolbar-container {
  padding: 25px 10px;
  background: #3768a2;
}

.toolbar-button {
  margin: 0 10px;
  border: none;
}

#canvas-container {
  height: 80%;
}
